.idea/
Library/
Logs/
obj/
Temp/
Packages/
AudioStudioUnity_DLL/AudioStudioUnity_DLL.sln.DotSettings.user
AudioStudioUnity_DLL/*/bin/
AudioStudioUnity.sln
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
